<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src={{ url_for(
    'static',filename='js/jquery-3.5.min.js') }}> </script>
    <script type="text/javascript" src={{ url_for(
    'static',filename='js/bootstrap.min.js') }}> </script>
    <script type="text/javascript" src={{ url_for(
    'static',filename='js/volunteer.js') }}> </script>

    <link rel="stylesheet" href={{ url_for(
    'static',filename='css/jquery-ui.css') }} />
    <link rel="stylesheet" href={{ url_for(
    'static',filename='css/bootstrap.min.css') }} />
    <link rel="stylesheet" href={{ url_for(
    'static',filename='css/app.css') }} />

    <title>Patient Details</title>

    <script>
$(function () {
getGlobalRequirements();
getMyHelps();
});




    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand text-white" href="#">COVID-19</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <ul class="navbar-nav">
                <li class="nav-item dropdown dropleft">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/volunteer-profile">My Profile</a>
                        <a class="dropdown-item" href="#">My Requirements</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="row" id="divLoginForm">
        <div class="col-2"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <form id="form" class="p-3">
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-primary text-center">Volunteer Dashboard</h3>
                        <hr>
                    </div>

                    <div class="col-12">
                        <h4 class="text-primary text-center">Global Requirement</h4>
                    </div>

                    <div class="col-12 py-2">
                        <table class="table table-bordered table-sm table-striped text-secondary" id="tblGlobalRequirement">

                        </table>
                    </div>


                    <div class="col-12">
                        <h4 class="text-primary text-center">My Helps</h4>
                    </div>

                    <div class="col-12 py-2">
                        <table class="table table-bordered table-sm table-striped text-secondary" id="tblVolunteerHelps">

                        </table>
                    </div>


                </div>


            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
</body>
</html>